<div class="alert alert-success row">
    <br>
    <!--Search bar http://bootsnipp.com/snippets/featured/stylish-input-using-icon-font-->
    <div class="container">
        <div class="row">

        </div>

        <br>
        <!--image grid http://blackrockdigital.github.io/startbootstrap-thumbnail-gallery/-->
        <!--image from http://www.nyise.org/16Photoblog/Schermerhorn/Cooking/Lets-get-cooking-300x300.png-->
        <div> <!--infinite-scroll="hc.getMoreRecipes()">-->
            <div ng-repeat="recipe in hc.recipes.data"> <!--| filter:{private: false}-->
                <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                    <a href="#/{{recipe.$id}}">
                        <h4><span ng-bind="recipe.name"></span></h4>
                        <h4><span ng-init="hc.getRating(recipe.$id)"></span></h4>
                        <img class="img-responsive thumbnail" src="img/Lets-get-cooking.png" alt="Image of Dish">
                    </a>
                </div><a href="#/{{recipe.$id}}">
                <h4><span ng-bind="recipe.name"></span></h4>
                <h4><span ng-init="hc.getRating(recipe.$id)"></span></h4>
                <img class="img-responsive thumbnail" ng-src={{recipe.image}} alt="Image of Dish">
            </div>
        </div>
    </div>
</div>