<br>
<!--Create native user-->
<div>
    <span>If this is your first time, create an account here</span>
    <br>

    <form class="form-horizontal">
        <div class="form-group">
            <label for="newAccntEmail" class="col-sm-2 control-label">Email</label>
            <div class="col-sm-4">
                <input class="form-control pull-right" id="newAccntEmail" ng-model="lc.createEmail" type="email"
                       placeholder="Email">
            </div>
        </div>
        <div class="form-group">
            <label for="newAccntPass" class="col-sm-2 control-label">Password</label>
            <div class="col-sm-4">
                <input class="form-control pull-right" id="newAccntPass" ng-model="lc.createPassword" type="password"
                       placeholder="Password">
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button ng-click="lc.create()" class="btn btn-primary" data-toggle="modal" data-target="#myModal">Create
                    User
                </button>
            </div>
        </div>
    </form>
</div>
<br>

<!--Change email-->
<div>
    <span>Change your email here</span>
    <br>

    <form class="form-horizontal">
        <div class="form-group">
            <label for="chngEOld" class="col-sm-2 control-label">Old Email</label>
            <div class="col-sm-4">
                <input class="form-control pull-right" id="chngEOld" ng-model="lc.oldEmail" type="email"
                       placeholder="Old Email">
            </div>
        </div>
        <div class="form-group">
            <label for="chngENew" class="col-sm-2 control-label">New Email</label>
            <div class="col-sm-4">
                <input class="form-control pull-right" id="chngENew" ng-model="lc.newEmail" type="email"
                       placeholder="New Email">
            </div>
        </div>
        <div class="form-group">
            <label for="chngEPass" class="col-sm-2 control-label">Password</label>
            <div class="col-sm-4">
                <input class="form-control pull-right" id="chngEPass" ng-model="lc.password" type="password"
                       placeholder="Password">
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button ng-click="lc.changeEmail()" class="btn btn-primary" data-toggle="modal" data-target="#myModal">
                    Change Email
                </button>
            </div>
        </div>
    </form>
</div>
<br>

<!--Change password-->
<div>
    <span>Change your password here</span>
    <br>

    <form class="form-horizontal">
        <div class="form-group">
            <label for="chngPEmail" class="col-sm-2 control-label">Email</label>
            <div class="col-sm-4">
                <input id="chngPEmail" class="form-control" ng-model="lc.email" type="Email" placeholder="Email">
            </div>
        </div>
        <div class="form-group">
            <label for="chngPOPass" class="col-sm-2 control-label">Old Password</label>
            <div class="col-sm-4">
                <input class="form-control" id="chngPOPass" ng-model="lc.oldPassword" type="password"
                       placeholder="Old Password">
            </div>
        </div>
        <div class="form-group">
            <label for="chngPNPass" class="col-sm-2 control-label">New Password</label>
            <div class="col-sm-4">
                <input class="form-control" id="chngPNPass" ng-model="lc.newPassword" type="password"
                       placeholder="New Password">
            </div>
        </div>
        <div CLASS="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button ng-click="lc.changePassword()" class="btn btn-primary" data-toggle="modal"
                        data-target="#myModal">
                    Change Password
                </button>
            </div>
        </div>
    </form>
</div>
<br>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" data-backdrop="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <h4 ng-show="lc.successHide" class="modal-title">Success!</h4>
                <h4 ng-show="lc.failHide" class="modal-title">Oops</h4>
            </div>
            <div class="modal-body">
                <div ng-show="lc.successHide">
                    It worked!
                </div>
                <div ng-show="lc.failLoginHide">
                    Enter valid email and password
                </div>
                <div ng-show="lc.passFail">
                    Password change failed
                </div>
                <div ng-show="lc.emailFail">
                    Email change failed
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close
                </button>
            </div>
        </div>
    </div>
</div>

