<div class="alert alert-info row" ng-init="rc.getRating(rc.recipe._id)">
    <div class="row">
        <h2 ng-bind="rc.recipe.name" class="recipeTitle"></h2>
    </div>

    <div class="row">
        <div class="col-sm-6">

            <div class="col-sm-6 times">
                Prep Time: <span ng-bind="rc.recipe.prepTime | times"></span><br>
                Cook Time: <span ng-bind="rc.recipe.cookTime | times"></span>
            </div>
            <div class="col-sm-6">
                <span class="col-sm-1 col-sm-offset-3" ng-bind="rc.rating.rating"></span>
                <div class="rating col-sm-6">
                    <span ng-click="rc.star(rc.recipe._id, 5)" id="5star">☆</span>
                    <span ng-click="rc.star(rc.recipe._id, 4)" id="4star">☆</span>
                    <span ng-click="rc.star(rc.recipe._id, 3)" id="3star">☆</span>
                    <span ng-click="rc.star(rc.recipe._id, 2)" id="2star">☆</span>
                    <span ng-click="rc.star(rc.recipe._id, 1)" id="1star">☆</span>

                </div>

            </div>
            <div class="col-sm-12">
                <hr>
                <h3>Ingredients</h3>
                <ul class="recIns">
                    <li ng-repeat="ingredient in rc.recipe.ingredients" class="recIns">
                        <span ng-bind="ingredient.ingredient"></span>
                        -
                        <span ng-bind="ingredient.qty"></span>
                    </li>
                </ul>
            </div>

        </div>


        <div class="col-sm-6 img-container">
            <img class="recipeImage" ng-src={{rc.recipe.image}} alt="Image of dish">
        </div>

        <div class="col-sm-12">
            <hr>
            <h3>Instructions</h3>
            <ol class="recIns">
                <li ng-repeat="instruction in rc.recipe.instructions" class="recIns">
                    <span ng-bind="instruction.instruction"></span>
                </li>
            </ol>
        </div>
    </div>

    <div class="row">
        <a href="#/editRecipe">
            <button class="btn btn-primary" ng-click="rc.editRecipe()">Edit this Recipe</button>
        </a>
        <!-- TODO: Fix the button to show/hide correctly, according to loggedin & already existing states. -->
        <button class="btn btn-primary add-button" id="addToCookbook"
                ng-click="rc.addtoCookBook(rc.recipe._id)"
                ng-if="rc.loggedin.user"
        >
            Add to Cookbook
        </button>
    </div>

</div>